@page "/addPlace"
@using BlazorMyToolsMag33.Models;
@using BlazorMyToolsMag33.Services;
@attribute [Authorize]
@inject IPlacesService PlacesService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
<h1>
    Add New Place
</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind-value="@place.PlaceName" />

                <input type="hidden" @bind-value="@place.Id" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => CreateArticle()">Save</button>
                <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code {

    Place place = new Place();

    protected async Task CreateArticle()
    {
        await PlacesService.Create(place);
        navigationManager.NavigateTo("/places");
    }

    void cancel()
    {
        navigationManager.NavigateTo("/places");
    }
}
