@page "/"
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<div class="card mt-4">
    <h4 class="card-header">Welcome in my simple warehouse system.</h4>
    <h5 class="card-header">Here will be description of this application...</h5>
</div>
