@page "/tools"
@attribute [Authorize]
@using System.Collections.Generic;
@using BlazorMyToolsMag33.Models;
@using BlazorMyToolsMag33.Services;
@inject HttpClient Http
@inject IToolsService ToolsService
@inject IPlacesService PlacesService
@inject IPersonsService PersonsService
@inject IToolCategoriesService ToolCategoriesService

<PageTitle>Tools</PageTitle>

<div>
    <a class="btn btn-primary" href='/addTool'>ADD NEW TOOL</a>
</div>

<h1>Tools</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (tools == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>TOOL ID</th>
                <th>TOOL NAME</th>
                <th>CATEGORY</th>
                <th>WHO HAVE</th>
                <th>WHERE IS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tool in tools)
            {
                var categoryName = "";
                var personName = "";
                var placeName = "";
                foreach(var catName in toolCategories)
                {
                    if(catName.Id == tool.ToolCategoryId)
                    {
                        categoryName = catName.ToolCategoryName;
                    }
                }
                foreach(var plcs in places)
                {
                    if(plcs.Id == tool.PlaceId)
                    {
                        placeName = plcs.PlaceName;
                    }
                }
                foreach(var prsn in persons)
                {
                    if(prsn.Id == tool.PersonId)
                    {
                        personName = prsn.PersonName;
                    }
                }
                <tr>
                    <td>@tool.Id  </td>
                    <td>@tool.ToolName  </td>
                    <td>@categoryName</td>
                    <td>@personName  </td>
                    <td>@placeName  </td>
                    <td>
                        <a class="btn btn-primary" href='/tool/@tool.Id'>Edit</a>  |
                        <!--<a class="btn btn-danger" @onclick="() => DeleteTool(tool.Id)">Delete</a>-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool loading;
    private IEnumerable<Tool> tools;
    private IEnumerable<Place> places;
    private IEnumerable<Person> persons;
    private IEnumerable<ToolCategory> toolCategories;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        tools = await ToolsService.GetAll();
        places = await PlacesService.GetAll();
        persons = await PersonsService.GetAll();
        toolCategories = await ToolCategoriesService.GetAll();


        loading = false;
    }

    protected async Task DeleteTool(int id)
    {
        await ToolsService.Delete(id);

        tools = await ToolsService.GetAll();
        //loading = true;
        //toolCategories = await ToolCategoriesService.GetAll();
        //loading = false;
    }
}
